<h1>{{ name }}</h1>

<form method="post">
  <div>
    <label>Alpha</label><br>
    <input type="range" min="0" max="1" step="0.05" value={{alpha}} name="alpha" id="alpha">
    <span id="alpha-output"></span>
  </div>
  <div>
    <label>Beta</label><br>
    <input type="range" min="0" max="1" step="0.05" value={{beta}} name="beta" id="beta">
    <span id="beta-output"></span>
  </div>
  <div>
    <label>Rho</label><br>
    <input type="range" min="0" max="0.1" step="0.005" value={{rho}} name="rho" id="rho">
    <span id="rho-output"></span>
  </div>
  <button>Run</button>
</form>

<img src={{ url1}} alt="Chart">

<img src={{ url2}}>

<script>
;['alpha', 'beta', 'rho'].forEach(variable => {
var slider = document.getElementById(variable);
var output = document.getElementById(variable+"-output");
output.innerHTML = slider.value; // Display the default slider value

// Update the current slider value (each time you drag the slider handle)
slider.oninput = function() {
  output.innerHTML = this.value;
}
})
</script>
